<div class="fixed-top d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-white border-bottom shadow-sm" style="z-index: 1">
<div class="container">
  <div class="row">
  <div class="col-2">
    <img class="logoImage"
       src="./assets/logo.png"
       alt="logo"/>
  </div>

<div class="col-7">
  <div class="row">
  <button class="col-auto btn btn-primary my-2 my-sm-0 mr-sm-4 squareBorder" type="submit">All Ads</button>

  <div class=" col-10 input-group">
    <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Text input with dropdown button"/>
    <div class="input-group-prepend">
        <label for="inputState"></label>
        <select class="form-control" id="inputState">
        <option selected>All Categories</option>
        <option>Electronics</option>
        <option>Vehicles</option>
        <option>Property</option>
        <option>Home & Garden</option>
        <option>Sports & Kids</option>
        <option>Business & Industry</option>
        <option>Animals</option>
        <option>Fashion & Beauty</option>
        <option>Education</option>
        <option>Agriculture</option>
        <option>Other</option>
      </select>
    </div>
    <button type="button" class="nostyle search-button" style="background-color: #2a73cc  ; border: 0;" aria-label="Enter Search"><div class="magnifier-wrapper"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>Loupe Copy</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-293.000000, -23.000000)"><g fill="#E1E1E1"><g transform="translate(293.000000, 22.000000)"><path d="M11.355485,11.4503883 L16.0066609,16.1015642 L15.1015642,17.0066609 L10.4503883,12.355485 C9.34711116,13.2583262 7.93681293,13.8 6.4,13.8 C2.8653776,13.8 0,10.9346224 0,7.4 C0,3.8653776 2.8653776,1 6.4,1 C9.9346224,1 12.8,3.8653776 12.8,7.4 C12.8,8.93681293 12.2583262,10.3471112 11.355485,11.4503883 Z M6.4,12.52 C9.22769792,12.52 11.52,10.2276979 11.52,7.4 C11.52,4.57230208 9.22769792,2.28 6.4,2.28 C3.57230208,2.28 1.28,4.57230208 1.28,7.4 C1.28,10.2276979 3.57230208,12.52 6.4,12.52 Z"></path></g></g></g></svg></div></button>
  </div>
  </div>
</div>
<div class="col-3">
  <button class="btn btn-light squareBorder ml-sm-4" type="submit">Login</button>
  <button class="btn btn_get btn_get_two font-weight-bold squareBorder ml-sm-4" type="submit">POST YOUR AD</button>
</div>
  </div>
</div>
</div>
<div class="container pb-2" style="margin-top:55px;">
  <div class="row pt-4">
<div class="col-5 padl-3">
  <h1 class="fontSize1-3" style="font-weight: bold;">Welcome to tievs.com - the largest marketplace
    in USA</h1><br>
  <p><b>Buy and sell</b> everything from used cars to mobile phones
    and computers, or search for property, jobs and more in <b>America!</b></p>
  <img src="assets/frontpage1.svg"  alt="image"/>
</div>
<div class="col-7">
  <object class="alignCenter" type="image/svg+xml" data="./assets/US_Map_sm.svg"></object>
</div>
  </div>
  <br>
  <h2 style="text-align: center; font-size: medium;font-weight: bold ">Browse our top categories:</h2>
  <div class="row pt-4 pb-4 mb-2" style="background-color: #fbfbfd !important; margin-left: 2%; margin-right: 2%; border-radius: 20px 20px 20px 20px">
    <div class="col-2 p-2">

      <div class="alignCenter categoryText" >
        <a href="/electronics" ><img class="oneonezeroW alignCenter" src="./assets/ipad.svg" alt="electronics">Electronics</a>
        <p class="categoryTextP">Find great deals for used
          electronics in Sri Lanka
          including mobile phones,
          computers, laptops,
          TVs, home theatres
          and much more.</p>
      </div>
    </div>
    <div class="col-2 p-2">
      <div class="alignCenter categoryText">
        <a href="/vehicles"><img class="oneonezeroW alignCenter" src="./assets/car.svg" alt="vehicles">Vehicles</a>
        <p class="categoryTextP">
          Buy and sell used cars,
          motorbikes and other
          vehicles in US.
          Choose from top brands
          including Toyota, Nissan,
          Honda and Suzuki.
        </p>
      </div>
    </div>
    <div class="col-2 p-2">
      <div class="alignCenter categoryText">
        <a href="/property"><img class="oneonezeroW alignCenter" src="./assets/house.svg" alt="vehicles">Property</a>
        <p class="categoryTextP">
          View listings for property
          in US. Find the cheapest
          rates for apartments, commercial
          and residential properties,
          as well as for land and plots.
        </p>
      </div>
    </div>
    <div class="col-2 p-2">
      <div class="alignCenter categoryText">
        <a href="/animals"><img class="oneonezeroW alignCenter" src="./assets/animal.svg" alt="vehicles">Animals</a>
        <p class="categoryTextP">
          Search from the widest
          variety of pets in America.
          Select from dogs, puppies,
          cats, kittens, birds and
          other domesticated animals.
        </p>
      </div>
  </div>
    <div class="col-2 p-2">
      <div class="alignCenter categoryText">
        <a href="/home-garden"><img class="oneonezeroW alignCenter" src="./assets/garden.svg" alt="vehicles">Home & Garden</a>
        <p class="categoryTextP">
          Buy and sell new and
          used home appliances including
          furniture, kitchen items,
          garden products and
          other household items
          in USA.
        </p>
      </div>
    </div>
    <div class="col-2 p-2">
      <div class="alignCenter categoryText">
        <a href="/business-industry"><img class="oneonezeroW alignCenter" src="./assets/factory.svg"  alt="vehicles">Business & Industry</a>
        <p class="categoryTextP">
          A range
          of business services and industrial
          companies offering products
          and services to both other
          businesses and consumers alike.
        </p>
      </div>
    </div>

    <hr class="divide col-12"/>
    <div class="col-5"><img style="float: right; width: 72px;"  src="assets/shield.svg"  alt="secure"></div>
    <div class="col-7"><b>Stay safe while trading!</b><br>
      All ads are manually reviewed by our team for your safety.<br>Read our tips on how to make safe deals.</div>
  </div>
</div>
<div>
  <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18" style="text-align: center">Do you have something to sell?</h3>
              <p style="text-align: center">Post your ad on tievs.com</p>
                <button class="btn btn_get btn_get_two font-weight-bold alignCenter" type="submit">POST YOUR AD</button>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" style="border-left: 2px solid #cdcdcf99;">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Download</h3>
              <ul class="list-unstyled f_list">
                <li><a href="#">Company</a></li>
                <li><a href="#">Android App</a></li>
                <li><a href="#">ios App</a></li>
                <li><a href="#">Desktop</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">My tasks</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Help</h3>
              <ul class="list-unstyled f_list">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Term &amp; conditions</a></li>
                <li><a href="#">Reporting</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Support Policy</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
              <div class="f_social_icon">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bg">
        <div class="footer_bg_one"></div>
        <div class="footer_bg_two"></div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-7">
            <p class="mb-0 f_400">© 2020 tievs. All rights reserved.</p>
          </div>
          <div class="col-lg-6 col-sm-5 text-right">
            <p>a Dhanuja Ranawake production</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

